<span class="badge badge-pill skill-score" [ngbPopover]="scorePopoverTpl" popoverClass="score-popover"
      placement="top-right" container="body" #scorePopover="ngbPopover" triggers="" (click)="onPopupEnter(scorePopover, true)"
      (mouseenter)="onPopupEnter(scorePopover, false)" (mouseleave)="onPopupLeave(scorePopover)"
      autoClose="outside">
    {{skill.score}}
</span>
<ng-template #scorePopoverTpl>
    <small *ngIf="!isEditingScore()" dojoTranslate="teamdojoApp.teams.skills.score.title"  [translateValues]="{'score': skill.score }">
        Score: {{skill.score}}
    </small>
    <jhi-number-input *ngIf="isEditingScore()" [value]="skill.score" (valueComitted)='updateScore($event)'></jhi-number-input>
</ng-template>
