<span class="badge badge-pill skill-score" [ngbPopover]="scorePopoverTpl" popoverClass="score-popover"
      placement="top" container="body" #scorePopover="ngbPopover" triggers="" (click)="onPopupEnter(scorePopover, skill.skillId, true)"
      (mouseenter)="onPopupEnter(scorePopover, skill.skillId, false)" (mouseleave)="onPopupLeave(scorePopover, skill.skillId)"
      autoClose="outside">
    {{skill.score}}
</span>
<ng-template #scorePopoverTpl>
    <small *ngIf="!isEditingScore[skill.skillId]" jhiTranslate="teamdojoApp.teams.skills.score.title" translateValues="{score: '{{skill.score}}'}">
        Score: {{skill.score}}
    </small>
    <form *ngIf="isEditingScore[skill.skillId]" name="scoreEditing" (ngSubmit)="updateScore(scorePopover, skill)"
          class="form-inline d-flex flex-nowrap score-editing">
        <label class="sr-only" for="score-input">Score</label>
        <input id="score-input" class="form-control score-input" type="number" name="score"
               [(ngModel)]="skill.score" [ngModelOptions]="{ allowInvalid: false, updateOn: 'submit' }"
               [min]="0" [required]="true">
        <button class="btn ml-1" type="submit" jhiTranslate="teamdojoApp.teams.skills.score.save">
            OK
        </button>
        <button class="btn ml-1" type="button" (click)="scorePopover.close()" jhiTranslate="teamdojoApp.teams.skills.score.cancel">
            Cancel
        </button>
    </form>
</ng-template>
