@import '../../../content/scss/colors';

/deep/ .score-popover {
    #score-input {
        width: 60px;
    }
}

.skill-score {
    height: 1.3rem;
    width: 2.8rem;
    line-height: 1rem;
    color: $dojo-text-inverse-primary;
    background-color: $dojo-text-primary;
}
