<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dimension">
            <h2><span dojoTranslate="teamdojoApp.dimension.detail.title">Dimension</span> {{dimension.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span dojoTranslate="teamdojoApp.dimension.name">Name</span></dt>
                <dd>
                    <span>{{dimension.name}}</span>
                </dd>
                <dt><span dojoTranslate="teamdojoApp.dimension.description">Description</span></dt>
                <dd>
                    <span>{{dimension.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dimension', dimension.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span dojoTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
