.filter-field {
    position: relative;
    .filter-icon {
        right: 0.4rem;
        top: 0.6rem;
        position: absolute;
        color: #bbb;
    }
    input {
        padding-right: 1.5rem;
    }
}
