<div>
    <h2 id="page-heading">
        <span jhiTranslate="teamdojoApp.skill.home.title">Skills</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-skill" [routerLink]="['/skill/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="teamdojoApp.skill.home.createLabel">
            Create new Skill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="skills">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="teamdojoApp.skill.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="teamdojoApp.skill.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="implementation"><span jhiTranslate="teamdojoApp.skill.implementation">Implementation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validation"><span jhiTranslate="teamdojoApp.skill.validation">Validation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expiryPeriod"><span jhiTranslate="teamdojoApp.skill.expiryPeriod">Expiry Period</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contact"><span jhiTranslate="teamdojoApp.skill.contact">Contact</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="score"><span jhiTranslate="teamdojoApp.skill.score">Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rateScore"><span jhiTranslate="teamdojoApp.skill.rateScore">Rate Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rateCount"><span jhiTranslate="teamdojoApp.skill.rateCount">Rate Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let skill of skills ;trackBy: trackId">
                <td><a [routerLink]="['/skill', skill.id, 'view' ]">{{skill.id}}</a></td>
                <td>{{skill.title}}</td>
                <td>{{skill.description}}</td>
                <td>{{skill.implementation}}</td>
                <td>{{skill.validation}}</td>
                <td>{{skill.expiryPeriod}}</td>
                <td>{{skill.contact}}</td>
                <td>{{skill.score}}</td>
                <td>{{skill.rateScore}}</td>
                <td>{{skill.rateCount}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/skill', skill.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/skill', skill.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'skill', { outlets: { popup: skill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
