<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-training-heading" jhiTranslate="teamdojoApp.training.home.createOrEditLabel">Create or edit a Training</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!training.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="training.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.training.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="training.title" required maxlength="80"/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.training.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="training.description" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.training.contactPerson" for="field_contactPerson">Contact Person</label>
                    <input type="text" class="form-control" name="contactPerson" id="field_contactPerson"
                           [(ngModel)]="training.contactPerson" maxlength="255"/>
                    <div
                        [hidden]="!(editForm.controls.contactPerson?.dirty && editForm.controls.contactPerson?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.contactPerson?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                            This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.training.link" for="field_link">Link</label>
                    <input type="text" class="form-control" name="link" id="field_link"
                           [(ngModel)]="training.link" maxlength="255"
                           pattern="^(?:http(s)?://)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#\[\]@!\$&'\(\)\*\+,;=.]+$"/>
                    <div [hidden]="!(editForm.controls.link?.dirty && editForm.controls.link?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.link?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                            This field cannot be longer than 255 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.link?.errors?.pattern"
                               jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Link' }">
                            This field should follow pattern for "Link".
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.link?.errors?.pattern" jhiTranslate="entity.validation.expectedPattern"
                               [translateValues]="{ regex: '/^(?:http(s)?:\/\/)?[\\w.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:\/?#\\[\\]@!\\$&\'\\(\\)\\*\\+,;=.]+$/' }">
                            The expected pattern is /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:\/?#\[\]@!\$&\'\(\)\*\+,;=.]+$/.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.training.validUntil"
                           for="field_validUntil">Valid Until</label>
                    <div class="d-flex">
                        <input id="field_validUntil" type="datetime-local" class="form-control" name="validUntil"
                               [(ngModel)]="validUntil" [placeholder]="'teamdojoApp.training.validUntilPlaceholder' | translate"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.training.isOfficial" for="field_isOfficial">Is Official</label>
                    <input type="checkbox" class="form-control" name="isOfficial" id="field_isOfficial"
                        [(ngModel)]="training.isOfficial" />
                    <div [hidden]="!(editForm.controls.isOfficial?.dirty && editForm.controls.isOfficial?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isOfficial?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="teamdojoApp.training.skill" for="field_skill">Skill</label>
                    <select class="form-control" id="field_skill" multiple name="skill" [(ngModel)]="training.skills">
                        <option [ngValue]="getSelected(training.skills, skillOption)" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.title}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
