<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" dojoTranslate="teamdojoApp.teams.status.edit.label">Edit Person</h4>
        <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body container">

        <div class="row justify-content-center">
            <div class="col-12">
                <div>
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group">
                        <label class="form-control-label" dojoTranslate="teamdojoApp.teams.status.edit.name"
                               for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name"
                               [(ngModel)]="team.name" required minlength="2" maxlength="50"/>
                        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.name?.errors?.required"
                                   dojoTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.name?.errors?.minlength"
                                   dojoTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                                This field is required to be at least 2 characters.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.name?.errors?.maxlength"
                                   dojoTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                This field cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" dojoTranslate="teamdojoApp.teams.status.edit.shortName"
                               for="field_shortName">Short Name</label>
                        <input type="text" class="form-control" name="shortName" id="field_shortName"
                               [(ngModel)]="team.shortName" required minlength="2" maxlength="20" pattern="^[a-zA-Z0-9_-]*$"/>
                        <div [hidden]="!(editForm.controls.shortName?.dirty && editForm.controls.shortName?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.shortName?.errors?.required"
                                   dojoTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.shortName?.errors?.minlength"
                                   dojoTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                                This field is required to be at least 2 characters.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.shortName?.errors?.maxlength"
                                   dojoTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                                This field cannot be longer than 20 characters.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.shortName?.errors?.pattern"
                                   dojoTranslate="entity.validation.pattern"
                                   [translateValues]="{ pattern: 'Short Name' }">
                                This field should follow pattern for "Short Name".
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" dojoTranslate="teamdojoApp.teams.status.edit.slogan"
                               for="field_slogan">Slogan</label>
                        <input type="text" class="form-control" name="slogan" id="field_slogan"
                               [(ngModel)]="team.slogan" />
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_large">Logo</label>
                        <div>
                            <img [src]="'data:' + image.largeContentType + ';base64,' + image.large" style="max-height: 100px;" *ngIf="image.large" alt="image image"/>
                            <div *ngIf="image.large" class="form-text clearfix">
                                <span class="pull-left">{{image.largeContentType}}, {{byteSize(image.large)}}</span>
                                <button type="button" (click)="clearInputImage('large', 'largeContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                    <span class="fa fa-times"></span>
                                </button>
                            </div>
                            <input type="file" id="file_large" (change)="setFileData($event, image, 'large', true)"
                                   accept="image/*" dojoTranslate="entity.action.addimage"/>
                        </div>
                        <input type="hidden" class="form-control" name="large" id="field_large"
                               [(ngModel)]="image.large" />
                        <input type="hidden" class="form-control" name="largeContentType" id="field_largeContentType"
                               [(ngModel)]="image.largeContentType" />
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="cancel()">
            <span class="fa fa-ban"></span>&nbsp;<span dojoTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span dojoTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
